p {
	line-height: 1.9;
    font-size: 16px;
}

article .content {
    line-height: 1.9;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 20px;
	margin: 0 0 1.25rem;
	font-weight: 700;
	line-height: 1.5;
	color: #000;
}

div.container div.logo {
    padding: 0;
}

div.container div.logo .logo__item {
    margin: 0;
}

div.container .logo__item .logo__img {
    max-width: 280px;
    max-height: none;
}

table thead th {
    background-color: #2a2a2a;
    color: #ffffff;
}

.center * {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.md__image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    object-fit: scale-down;
}

figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    object-fit: scale-down;
}

div.content aside {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    /* border: #466dc0 1px solid; */
    background-color: #466dc02e;
}

pre.mermaid {
    text-align: center;
}

figure.list-thumbnail {
    width: 260px;
}

@media (max-width: 1100px) {
    div.logo__imagebox { display: none; }
}