p {
	line-height: 1.9;
    font-size: 16px;
}

article .content {
    line-height: 1.9;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 20px;
	margin: 0 0 1.25rem;
	font-weight: 700;
	line-height: 1.5;
	color: #000;
}

div.container div.logo {
    padding: 0;
}

div.container div.logo .logo__item {
    margin: 0;
}

div.container .logo__item .logo__img {
    max-width: 312px;
    max-height: none;
}