.headerlink {
    color: #9e9e9e;
    font-size: 60%;
    margin-left: 0.3em;
}
footer {
    padding-bottom: 20px;
}
footer > hr {
    width: 45%;
}

.card {
    border: 1px #dfdfdf solid;
    padding: 20px 20px 20px 20px !important;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.card .card-title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}
.card > .actions {
    position: absolute;
    bottom: 20px;
}
.card .card-thumbnail {
    text-align: center;
    height: 160px;
    width: 100%;
}
.card .card-thumbnail img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 160px;
}
.card-body {
    text-align: left;
}
.card p {
    word-break: break-all;
}

.btn-primary, .btn-primary:hover {
    border-color: transparent;
    background-color: #466dc0;
}
a, a:hover {
    color: #466dc0;
}